/* colors: 
    dark green: #1f675c
    light pink: #e0a0a7
    dark pink: #e58284
    off white: #e7ddce
    light teal: #84c3b2
*/ 

body {
    font-family: 'Playfair Display', serif;
    background-image:url("images/flower-background.jpeg"); 
    background-position: top right; 
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px; 
}

footer {
    background-color:#e58284;
}
nav {
    background-color: #e58284;
    margin:0; 

}
.navbutton {
    padding:20px 10px;
    display:inline;
    border:2px solid #e7ddce;
    border-radius:20px; 
    background-color:#0f473f; 
}

nav a{
    font-size: 1.5em; 
    text-decoration:none;
    color:#e58284;
    cursor: pointer; 
}

.inline {
    display:inline;
}
.block {
    display:block; 
}
#profile-pic {
    margin:0 auto; 
    margin-top:100px;  
    width: 180px;   
    border-radius: 100px;
    border:10px dotted #e58284;
}
figcaption {
    text-align:center;
}
#name {
    font-size: 2em; 
}
section {
    margin:20px;
}
.logolinks{
    width:100px; 
}
.centertext {
    text-align:center; 
}
input {
    width:250px;
    background-color:#e7ddce;
    margin-bottom:10px;
    border: 2px inset black; 
}
.heading {
    background-color:#0f473f;
    color:#e58284;
    padding:20px;
    border:2px solid #e7ddce;
    font-size: 2em; 
}
textarea {
    width: 50%; 
    height: 100px;  
    overflow: auto;
    background-color: #e7ddce;
}
 .flexbox {
    display:flex;  
    justify-content: space-evenly;
}
.TRSimage {
    margin-top: 20px;
    width: 200px; 
    border: 2px inset black;  
}
.textbox { 
    background-color: rgba(231,221,206, 0.5);  
    padding: 20px;
}
p {
    color: black; 
    font-weight:bold; 
}
p a{
    color:#e95658; 
}
#submit{
    width:200px; 
    border-radius:10px;
    background-color:#0f473f;
    color: #e58284; 
    font-size:large;
    border:3px outset black; 
}

#submit:hover {
    cursor: pointer;
}
